<div class="form_container">
  <div class="form_div">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        placeholder="Ex. pat@example.com"
        #email
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordFormControl"
        placeholder="Ex. pat@example.com"
        #password
      />
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <div class="name_container">
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="passwordFormControl"
          placeholder="Ex. pat@example.com"
          #password
        />
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Please enter a valid password
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Sign-up</button>
  </div>
</div>
